@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        font-family: 'Nunito Sans', sans-serif;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: #5030E5 !important;
    }
    .authImg{
        background-image: url('./assets/Auth.png');
        background-size: contain;
    }
    *::-webkit-scrollbar{
        display: none;
    }
    .card::after{
        content: '';
        width: 95%;
        height: 95%;
        right: 0px;
        bottom: 0px;
        background-color: rgba(94, 94, 94, 0.2);
        position: absolute;
        z-index: -1;
        border-radius: 8px;
        transition: right 150ms ease, bottom 150ms ease;
    }
    .card:hover::after{
        right: -6px;
        bottom: -6px;
    }
    .border{
        border: lightgray 2px solid;
    }
    .landing{
        background-image: url('./assets/landing.jpg');
        background-size: cover;
        background-position: 60% 40%;
    }
}