@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: #5030E5 !important;
    }
    .authImg{
        background-image: url('./assets/Auth.png');
        background-size: contain;
    }
    .main::-webkit-scrollbar{
        display: none;
    }
    .card::after{
        content: '';
        width: 95%;
        height: 95%;
        right: 0px;
        bottom: 0px;
        background-color: #5030E5;
        position: absolute;
        z-index: -1;
        border-radius: 8px;
        transition: right 150ms ease, bottom 150ms ease;
    }
    .card:hover::after{
        right: -6px;
        bottom: -6px;
    }
}